---
import Layout from "layouts/Base.astro";
---

<Layout title="Page not found | af-utils">
    <div
        class="prose prose-2xl p-4 grid place-items-center place-content-center h-screen w-screen gap-12"
    >
        <h1 class="m-0">Page not found</h1>
        <div>
            <p class="m-0">Some helpful links for you:</p>
            <ul class="m-0">
                <li><a href="/">Home</a></li>
                <li><a href="/scrollend-polyfill">Scrollend polyfill</a></li>
                <li><a href="/virtual">Virtual scroll</a></li>
            </ul>
        </div>
    </div>
</Layout>
