@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .contain-strict {
        contain: strict;
    }
}

@layer components {
    .basic-table-container {
        table {
            @apply border-separate;
            border-spacing: 0;
        }

        td,
        th {
            @apply p-2;
            @apply border;
        }

        tfoot th,
        tfoot td,
        thead th,
        thead td {
            @apply bg-white;
        }

        th input {
            @apply border;
        }
    }

    .ds-menu [data-closer] {
        display: none;
    }

    .ds-menu[open] [data-opener] {
        display: none;
    }

    .ds-menu[open] [data-closer] {
        display: block;
    }

    @keyframes progress-indeterminate {
        0% {
            width: 30%;
            left: -40%;
        }
        60% {
            left: 100%;
            width: 100%;
        }
        to {
            left: 100%;
            width: 0;
        }
    }

    .progressbar {
        transition: width 0.25s ease;
        animation: progress-indeterminate 1s ease infinite;
    }
}
