<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            html,
            body,
            virtual-core-example {
                display: block;
                height: 100%;
                padding: 0;
                margin: 0;
            }
        </style>
    </head>
    <body>
        <virtual-core-example></virtual-core-example>
        <script type="module" src="./src/code.ts"></script>
    </body>
</html>
