---
import "styles/base.css";

import { ViewTransitions } from "astro:transitions";
import HeadFont from "components/head/Font.astro";
import SEO from "components/head/Seo.astro";
export type { Props } from "components/head/Seo.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <SEO {...Astro.props} />
        <HeadFont />
        <slot name="head" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <ViewTransitions />
    </head>
    <body>
        <slot />
    </body>
</html>
