---
import BaseLayout from "./Base.astro";
import Menu from "components/Menu.astro";
import NextPrevBlock from "components/NextPrevBlock.astro";
import type { Props as BaseLayoutProps } from "layouts/Base.astro";

function flattenMenu(arr: any[] | readonly any[], resultArr: any[]) {
    if (arr) {
        for (const k of arr) {
            if (k.children?.length) {
                flattenMenu(k.children, resultArr);
            } else {
                resultArr.push(k);
            }
        }
    }
    return resultArr;
}

export interface Props extends BaseLayoutProps {
    items: any[];
    productName: string;
}

const { items, productName, ...rest } = Astro.props;

const flattenedItems = flattenMenu(items, []);
---

<BaseLayout {...rest}>
    <div class="flex h-screen w-screen flex-col lg:flex-row">
        <Menu items={items} productName={productName} />
        <div class="flex flex-auto gap-8 flex-col overflow-auto p-4">
            <main class="prose flex-auto">
                <slot />
            </main>
            <nav
                class="flex flex-none items-center justify-between gap-4 font-medium"
            >
                <NextPrevBlock items={flattenedItems} />
            </nav>
        </div>
    </div>
</BaseLayout>
