---
import BaseLayout from "./Base.astro";
import Menu from "components/Menu.astro";
import NextPrevBlock from "components/NextPrevBlock.astro";
import type { Props as BaseLayoutProps } from "layouts/Base.astro";
import type { MenuItem } from "components/Menu.astro";

function flattenMenu(arr: MenuItem[] | readonly MenuItem[]): MenuItem[] {
    return arr.flatMap(k => (k.children?.length ? flattenMenu(k.children) : k));
}

export interface Props extends BaseLayoutProps {
    items: MenuItem[];
    productName: string;
    mainClass?: string;
}

const { items, productName, mainClass, ...rest } = Astro.props;

const flattenedItems = flattenMenu(items);
---

<BaseLayout {...rest}>
    <div class="h-screen flex flex-col lg:flex-row">
        <Menu items={items} productName={productName} class="min-w-[20em]" />
        <div class="flex flex-col flex-auto gap-8 p-4 overflow-auto">
            <main class:list={["prose flex-auto", mainClass]}>
                <slot />
            </main>
            <nav
                class="flex flex-none items-center justify-between gap-4 font-medium"
            >
                <NextPrevBlock items={flattenedItems} />
            </nav>
        </div>
    </div>
</BaseLayout>
