# Logs
logs
*.log

**/node_modules/
**/dist
.astro/
**/api-extractor-schema
**/.jit/
**/.stryker-tmp/
**/reports/mutation/
**/temp/
playwright-report/
test-results/
/git-worktrees/
website/src/generated/
