# Logs
logs
*.log

**/node_modules/
**/dist
.astro/
**/api-extractor-schema
**/.jit/
**/.stryker-tmp/
**/reports/mutation/
**/temp/
.nx/cache/
.nx/workspace-data/
playwright-report/
test-results/
.lighthouseci/
/git-worktrees/
website/.generated/
website/.astro/
