{
	"trailingComma": "none",
	"tabWidth": 4,
	"useTabs": false,
	"semi": true,
	"singleQuote": false,
	"jsxSingleQuote": false,
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"arrowParens": "avoid",
	"printWidth": 80,
	"quoteProps": "consistent"
}
