---
import defaultsDeep from "lodash/defaultsDeep";
import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";
import type { Props as SeoProps } from "astro-seo";
import "@fontsource-variable/exo";
import "styles/base.css";

export interface Props extends SeoProps {
    frontmatter?: SeoProps;
}

const props = defaultsDeep(Astro.props, Astro.props.frontmatter, {
    charset: "UTF-8",
    title: "",
    titleTemplate: "",
    description: "",
    twitter: {
        creator: "@fominalex24",
        site: "@fominalex24"
    }
});
---

<!doctype html>
<html lang="en">
    <head>
        <SEO
            {...props}
            extend={{
                // extending the default link tags
                link: [{ rel: "icon", href: "/favicon.ico" }]
            }}
        />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <style is:global>
            html {
                font-family: "Exo Variable", sans-serif;
            }
        </style>
        <ViewTransitions />
    </head>
    <body class="bg-[#fafafa]">
        <slot />
    </body>
</html>
