---
import defaultsDeep from "lodash/defaultsDeep";
import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";
import type { Props as SeoProps } from "astro-seo";
import { getImage } from "astro:assets";
import "@fontsource-variable/exo";
import "styles/base.css";
import faviconPngSrc from "assets/favicon.png";
import faviconSvgSrc from "assets/favicon.svg";

const appleTouchIcon = await getImage({
    src: faviconPngSrc,
    width: 180,
    height: 180,
    format: "png"
});

const faviconSvg = await getImage({ src: faviconSvgSrc, format: "svg" });

export interface Props extends SeoProps {
    frontmatter?: SeoProps;
}

const { frontmatter, ...rest } = Astro.props;

const props = defaultsDeep({}, rest, frontmatter, {
    charset: "UTF-8",
    title: "",
    titleTemplate: "",
    description: "",
    twitter: {
        creator: "@fominalex24",
        site: "@fominalex24"
    }
});
---

<!doctype html>
<html lang="en">
    <head>
        <SEO
            {...props}
            extend={{
                link: [
                    {
                        rel: "icon",
                        href: faviconSvg.src,
                        type: "image/svg+xml"
                    },
                    { rel: "icon", href: "/favicon.ico", sizes: "32x32" },
                    { rel: "apple-touch-icon", href: appleTouchIcon.src },
                    { rel: "manifest", href: "/manifest.json" }
                ]
            }}
        />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <style is:global>
            html {
                font-family: "Exo Variable", sans-serif;
            }
        </style>
        <ViewTransitions />
    </head>
    <body class="bg-[#fafafa]">
        <slot />
    </body>
</html>
