.wrapper {
    display: flex;
    flex-flow: column nowrap;
    background: #2c313a;
}

.link {
    display: block;
    padding: 0.5em 1em;
    color: inherit;
    text-decoration: none;
}

.header {
    padding-left: 0.5em;
}

.activeLink {
    color: #e5c07b;
    background: #3b4048;
}