---
const currentPath = Astro.url.pathname;

const { href, compareHref = href, exact, ...rest } = Astro.props;

const isActive = exact
    ? currentPath === compareHref
    : typeof compareHref === "string" && currentPath.startsWith(compareHref);
---

<a
    {...rest}
    href={href}
    aria-current={isActive ? "page" : undefined}
    class:list={isActive ? "text-orange-700 !font-semibold" : ""}
>
    <slot />
</a>
