.sortableHeader {
    cursor: pointer;
    user-select: none;

    &[aria-sort="ascending"]::after{
        content: " ↑";
    }
    
    &[aria-sort="descending"]::after{
        content: " ↓";
    }

    margin-bottom: 0.3em;
}

.input {
    outline: none;
    box-sizing: border-box;
    width: 100%;
    min-width: 0;
}