---
import Layout from "layouts/Base.astro";
import { Icon } from "astro-icon/components";
import { Content as Readme } from "../../../README.md";
---

<Layout>
    <div class="prose flex h-screen w-screen flex-col">
        <header
            class="prose-lg prose-a:no-underline mx-[5vmin] flex justify-center gap-8 border-b p-6"
        >
            <a
                href={`https://github.com/${import.meta.env.PUBLIC_GITHUB_SUFFIX}`}
                target="_blank"
                rel="noopener"
                class="flex items-center gap-2 hover:underline"
            >
                <Icon name="simple-icons:github" />Github
            </a>
            <a
                href={import.meta.env.PUBLIC_DISCORD_LINK}
                target="_blank"
                rel="noopener"
                class="flex items-center gap-2 hover:underline"
            >
                <Icon name="simple-icons:discord" />Discord
            </a>
        </header>
        <main
            class="prose-xl prose-a:text-blue-700 sm:bg-sizif flex-auto bg-[length:40vmax] bg-right-bottom bg-no-repeat px-[5vmin] py-12 lg:pr-0 2xl:bg-contain"
        >
            <Readme />
        </main>
        <footer class="mx-[5vmin] border-t p-6 text-center">
            © {new Date().getFullYear()} Alex Fomin
        </footer>
    </div>
</Layout>
