
.wrapper {

    thead,
    tfoot {
        white-space: nowrap;
    }

    td,
    th {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    th[data-sortable]{
        cursor: pointer;
        user-select: none;
    }
    
    th[aria-sort="ascending"]::after{
        content: " ↑";
    }
    
    th[aria-sort="descending"]::after{
        content: " ↓";
    }

    thead td,
    thead th,
    tfoot td,
    tfoot th {
        position: sticky;
        z-index: 1;
    }

    thead td,
    thead th {
        top: 0;
    }
}