.afvscr-table {

    thead,
    tfoot {
        white-space: nowrap;
    }

    td,
    th {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    thead td,
    thead th,
    tfoot td,
    tfoot th {
        position: sticky;
        z-index: 1;
    }

    thead td,
    thead th {
        top: 0;
    }

    tfoot td,
    tfoot th {
        bottom: 0;
    }
}