---
import ReactExample from "../../../../../../../../examples/src/virtual/react/hook/custom-render/src/code";
import HeadFont from "components/head/Font.astro";
---
            
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0" >
        <style>
            html,
            body {
                padding: 0;
                margin: 0;
            }
            #root {
                display: grid;
                height: 100vh;
            }
        </style>
    <HeadFont></HeadFont>
        <link rel="canonical" href="https://af-utils.com/virtual/examples/react/hook/custom-render" >
        <style>
            body {color: #374151;}
        </style></head>
    <body>
        <div id="root"><ReactExample client:idle ></ReactExample></div>
        
    </body>
</html>
