.wrapper {
    box-sizing: border-box;
    min-height: 0;
    /* assuming that table would be used full-stretch mostly */
    flex: 1 1 auto;

    /* experimental: should improve widget perf inside other layouts */
    contain: strict;
    overflow: auto;
    position: relative;

    /* this wrapper has tabIndex prop */
    outline: none;
}