@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap&subset=cyrillic");

$playground-background-color: #3b4048;

html, body, #app_root {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    background: #{$playground-background-color};
}

th {
    background: #{$playground-background-color};
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 0.5em;
}

table, td, th {
    border: 1px solid #c5c5c5;
}