@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap&subset=cyrillic");

$text-color: #c5c5c5;
$playground-background-color: #3b4048;
$menu-background: #2c313a;
$table-border-color: $text-color;
$burger-breakpoint: 40rem;
$burger-size: 2rem;
$burger-top-offset: 0.7rem;
$headers-margin: $burger-top-offset + 0.3rem;

html, body, #app_root {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    background: #{$playground-background-color};
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #{$table-border-color};
}

td {
    padding: 0.5em;
}

thead th, tfoot td {
    padding: 0.8em;
    background: #5b5f7d;
}

h2 {
    flex: 0 0 auto;
    margin: #{$headers-margin};
}

h2:not(:first-of-type){
    margin-top: #{$headers-margin * 2.3};
}

:global(.afvscr-table) {

    border: 1px solid #{$table-border-color};

    table {
        border-collapse: separate;
        border-spacing: 0;
    }

    td, th {
        border-style: none solid solid none;
    }

    tbody tr:last-child td,
    tfoot td {
        border-bottom: none;
    }
    
    tfoot td {
        border-top-style: solid;
    }
}

.wrapper {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    color: #{$text-color};

    @media only screen and (max-width: #{$burger-breakpoint}) {
        background: #{$menu-background};
        & > :last-child h2 {
            text-indent: #{$burger-size};
            text-align: center;
        }
    }
}

.playgroundWrapper {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    min-width: 0;
}

.burger {
    height: #{$burger-size};
    width: #{$burger-size};
    cursor: pointer;
    position: fixed;
    top: #{$burger-top-offset};
    left: 1em;
    z-index: 10;
}

.docs {
    padding: 0 1em;
    flex: 1 1 auto;
    overflow: auto;

    h2 {
        margin-left: 0;
    }
}

.menu {
    background: #{$menu-background};
    overflow: auto;
    flex: 0 0 auto;
    height: 100%;
    box-sizing: border-box;
}

.playground {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;

    & > * {
        margin: 1em;
    }

    & > :nth-child(1){
        flex: 1 4 40%;
    }

    & > :nth-child(2){
        flex: 1 1 60%;
    }

    @media only screen and (max-width: 70rem) {
        flex-direction: column;
    }
}

@media only screen and (max-width: #{$burger-breakpoint}) {

    .menu {
        margin-top: #{$burger-top-offset + $burger-size};
        padding-bottom: #{$burger-top-offset + $burger-size};
        width: 100%;  
    }

    .hiddenMenu {
        composes: menu;
        display: none;
    }
}

@media only screen and (min-width: #{$burger-breakpoint}) {
    .burger {
        display: none;
    }
}


