.link {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 0.5em 1.2em;
    color: inherit;
    text-decoration: none;

    & > svg {
        width: auto;
        height: 1.5em;
        margin-right: 1em;
    }
}

.activeLink {
    composes: link;
    color: #e5c07b;
    background: #3b4048;
}