<nav aria-label="Breadcrumb" class="text-lg font-medium lg:text-xl">
    <a href="/" class="underline">af-utils</a>
    <span class="px-1" aria-hidden="true">/</span>
    <span class="text-teal-700" aria-current="page">
        <slot />
    </span>
</nav>
