---
import type { ValidContentEntrySlug } from "astro:content";

const { slug } = Astro.props;

interface Props {
    slug: ValidContentEntrySlug<"reference">;
}
---

<a href={`/virtual/reference/${slug}`}><slot /></a>
