@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap&subset=cyrillic");

$playground-background-color: #3b4048;
$table-border-color: #c5c5c5;

html, body, #app_root {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    background: #{$playground-background-color};
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #{$table-border-color};
}

td {
    padding: 0.5em;
}

thead th, tfoot td {
    padding: 2em;
    background: #5b5f7d;
}

.afvscr-table {

    border: 1px solid #{$table-border-color};

    table {
        border-collapse: separate;
        border-spacing: 0;
    }

    td, th {
        border-style: none solid solid none;
    }

    tbody tr:last-child td,
    tfoot td {
        border-bottom: none;
    }
    
    tfoot td {
        border-top-style: solid;
    }
}