.wrapper {
    contain: strict;
    overflow: auto;
    position: relative;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    text-align: center;
}

.table td,
.table th {
    border: 1px solid #ccc;
    padding: 0.3em;
}

.table td span {
    display: block;
}

.table tfoot td,
.table thead th {
    background-color: #fff;
}

.thead {
    position: sticky;
    top: 0;
    background-color: #fff;
}

.tfoot {
    position: sticky;
    bottom: 0;
    background-color: #fff;
}

.table td.spacerCell {
    border: 0;
    padding: 0;
}

.spacer {
    contain: strict;
}
