.afvscr-height-provider {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
}

.afvscr-hdnwrp,
.afvscr-height-provider,
.afvscr-scroller {
    visibility: hidden !important;
}

.afvscr-row-count-warning-container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.afvscr-scroll-container {
    overflow: auto;
    outline: none;
    position: relative;
}

.afvscr-row-count-warning-container,
.afvscr-scroll-container,
.afvscr-table-wrapper,
.afvscr-list-wrapper {
    min-height: 0;
    /* assuming that table would be used full-stretch mostly */
    flex: 1 1 auto;

    /* experimental: should improve widget perf inside other layouts */
    contain: strict;
}

.afvscr-table-wrapper td,
.afvscr-table-wrapper th {
    overflow: hidden;
    text-overflow: ellipsis;
}

.afvscr-table-wrapper thead,
.afvscr-table-wrapper tfoot {
    white-space: nowrap;
}

.afvscr-table-wrapper thead th[data-sortable]{
    cursor: pointer;
    user-select: none;
}

.afvscr-table-wrapper thead th[aria-sort="ascending"]::after{
    content: " ↑";
}

.afvscr-table-wrapper thead th[aria-sort="descending"]::after{
    content: " ↓";
}

/*
    nonst - non-sticky
    st - sticky
*/
.afvscr-nonst {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
}

.afvscr-main-table {
    min-width: 100%;
}

/* thead and tfoot are rendered as other tables in nonst mode */
.afvscr-nonst-subtable {
    flex: 0 0 auto;
    position: relative;
}

.afvscr-main-table,
.afvscr-nonst-subtable {
    table-layout: fixed;
}

/* hiding empty rectangular space for th in nonst mode */
.afvscr-nonst-subtable td:last-child::after,
.afvscr-nonst-subtable th:last-child::after {
    content: "";
    background: inherit;
    /* definitely wider, than any scrollbar. Overflow: hidden would cut unneeded part. */
    width: 100px;
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
}

/* hdnwrp is used in non-sticky mode. You most likely would not want change this */
.afvscr-hdnwrp td,
.afvscr-hdnwrp th {
    line-height: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-top: none !important;
    border-bottom: none !important;
    max-height: 0 !important;
    
    /* max-height is not enough(already tried) */
    height: 0 !important;
}

.afvscr-st thead td,
.afvscr-st thead th,
.afvscr-st tfoot td,
.afvscr-st tfoot th {
    position: sticky;
    z-index: 1;
}

.afvscr-st thead td,
.afvscr-st thead th {
    top: 0;
}

.afvscr-st tfoot td,
.afvscr-st tfoot th {
    bottom: 0;
}

.afvscr-group-cell {
    font-weight: 500;
    text-align: left;
}

/*
.afvscr-summary {
    text-transform: capitalize;
}
*/

.afvscr-group-state-indicator {
    user-select: none;
    cursor: pointer;
    padding-right: 0.9em;
}

.afvscr-group-state-indicator:before {
    content: "\025B8";
}

.afvscr-group-state-indicator[data-expanded]:before{
    content: "\025BE";
}

.afvscr-group-summaries {
    display: inline-flex;
    flex-flow: row nowrap;
}

.afvscr-group-summaries:not(:empty):before {
    margin-left: 0.5em;
    content: "(";
}

.afvscr-group-summaries:not(:empty):after {
    content: ")";
}

.afvscr-group-summaries > .afvscr-summary:not(:last-child):after{
    content: ",";
    margin-right: 0.5em;
}