/*
    * flex: 1 1 auto, assuming that table would be used full-stretch mostly
    * border-box is important, because head th widths are synced with td widths
    width: 100% covers case, when no tbody is rendered and exact width cannot be calculated
*/
.af-react-table {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    overflow: hidden;
}

.af-react-table * {
    box-sizing: border-box;
}

.af-react-table-tbody-wrapper {
    min-height: 0;
    flex: 1 1 auto;
    position: relative;
    overflow: hidden;
}

.af-react-table-tbody-table {
    contain: paint;
    width: 100%;
    will-change: transform;
    table-layout: auto;
}

.af-react-table-overflow-container {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.af-react-table-thead-table {
    flex: 0 0 auto;
    min-width: 100%;
    position: relative;
    table-layout: fixed;
}

.af-react-table-thead-table th {
    text-overflow: ellipsis;
    overflow: hidden;
}

.af-react-table-default-warning-container {
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}